main {
    padding: 30px 50px;
    margin-top: 20px;
}

.main-information {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2.5rem;
}

.personal-info {
    order: 2;
}

.personal-info h1 {
    font-size: 3.2rem;
    font-family: 'Ubuntu-Bold';
    color: var(--title-color);
    letter-spacing: 1.5px;
    margin-bottom: 1.5rem;
}

.personal-info p {
    line-height: 25px;
}

.main-information .main-img {
    order: 1;
}

.main-information .main-img img {
    width: 100%;
}

.btn-actions {
    padding: 30px 0;
}

.btn {
    padding: 15px 20px;
    cursor: pointer;
}

.btn:active {
    transform: translateY(3px);
}

.btn-complementary {
    position: relative;
    background-color: var(--complementary-color);
    color: white;
    border: 1px solid var(--complementary-color);
}

.btn-complementary-outline {
    position: relative;
    border: 1px solid var(--complementary-color);
    color: var(--complementary-color);
}

.btn-complementary::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: right;
    background-color: currentColor;
    opacity: 0.2;
    transition: transform 200ms ease-in;
}

.btn-complementary:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.btn-complementary-outline::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    background-color: currentColor;
    opacity: 0.2;
    transition: transform 200ms ease-in;
}

.btn-complementary-outline:hover::after {
    transform: scaleY(1);
    transform-origin: bottom;
}

.section-habilities {
    padding: 10px 50px;
    margin-top: 35px;
}

.habilities {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 0;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.habilities .container-experience {
    width: 70%;
    background-color: var(--secondary-color);
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.habilities .container-experience h2, 
.habilities .container-experience p {
    background-color: var(--secondary-color);
    color: white;
}

.container-hability {
    background-color: white;
    width: 100%;
    height: 18.5rem;
    box-shadow: rgba(48, 55, 120, 0.15) 0px 3px 3px 0px;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.container-hability h4 {
    padding: 15px 0;
}

.container-hability p {
    padding: 0 3rem;
    text-align: center;
}

.icon-hability {
    font-size: 2rem;
    padding: 20px;
    border-radius: 50%;
    background: linear-gradient(134deg, rgb(66, 100, 208) 0%, rgb(48, 55, 120) 99%);
    color: white;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-hability img {
    width: 100%;
}

/* Small screens, laptops */
@media (min-width:769px) {
    main { 
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }

    .main-information {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 0;
        grid-column-gap: 1.5rem;
    }

    .main-information .main-img {
        order: 2;
    }

    .section-habilities {
        margin-top: 5rem;
    }

    .habilities {
        grid-template-columns: repeat(3, 1fr);
    }
}