@import url('./variables.css');
@import url('./core/header.css');

@font-face {
    font-family: 'Ubuntu';
    src:    url('./../fonts/Ubuntu/Ubuntu-Light.ttf'),
            url('./../fonts/Ubuntu/Ubuntu-Regular.ttf')
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src:    url('./../fonts/Ubuntu/Ubuntu-Bold.ttf')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--purple-light);
    font-family: 'Ubuntu';
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu-Bold';
    color: var(--title-color);
    background-color: transparent;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

p {
  color: var(--font-color);  
}